/* Bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: rgb(0, 0, 0);
    --secondary: #ffffff;
    --alternative: #ffdecf;
    --awesome: #fbf7f2;
}

/* App */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--primary);
    overflow: hidden;
    background: rgb(177, 148, 148)
      url(https://erin-caitlin.github.io/portfolio-images/VuePortfolio/image26.jpg) no-repeat center;
      background-size: cover;
      background-attachment: fixed;
      background-blend-mode: soft-light;
      font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:is(.navbar, footer) {
    background-color: rgb(230, 220, 215);
}

.navbar {
    z-index: 10;
  }

h1, h2, h3,h4, h5, h6{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
    text-decoration-color: #6642428a;
  }

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: var(--primary);
    transition: all 0.4s;

        &:hover {
          transform: scale(1.2);
          color: var(--alternative);
          border-radius: .2rem;
        }
}

.nav-links {
    width: 95%;
    background-color: var(--secondary);
}

.navbarNav {
    width: 95%;
}

/* Footer */
footer {
    padding-top: 2rem;
}

.container-fluid{
    padding: 0px !important;
}
/* All images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

/* logo */
img[alt='logo'] {
    width: 5rem;
}

/* wrapper */
:is(.wrapper) {
    display: grid;
    grid-template-rows:  minmax(100dvh, 100%) auto;
}

/* media query */


#about-btn {
    text-decoration: none;
}

#about-direct {
    padding: .5rem;
    border-radius: .3rem;
    background-color: #ffffff81;
    border: none;
}

/* Reach Me Page */
#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: bolder;
    justify-content: start;
}

#name,
#email,
#message{
    padding: .5rem;
    width: 20rem;
    border-radius: .3rem;
    background-color: beige;
    color: var(--primary);
    border-color: var(--alternative);
}

#btn-send,
#btn-clear {
    margin: .2rem;
    padding: 1rem;
    border-radius: .2rem;
    width: 10rem;
    background-color: beige;
    color: var(--primary);
    border-color: var(--alternative);
}

[title] {
    font-style: italic;
}

/* Animation */
/* Landing */
.animate__animated.animate__fadeInTopLeft {
    --animate-duration: 2s;
  }
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  /* Background */
[landing],
[resume-page],
[testimonials],
[reach-me] {
    background: linear-gradient(to bottom, #ae83819a, #6642428a);
}
div[landing]{
    margin-top: 4rem;
}

[btn2]:hover {
          transform: scale(1.2);
          background-color: var(--secondary);
          color: var(--alternative);
          border-radius: .2rem;
        }
