/* Bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: rgb(0, 0, 0);
    --secondary: #ffffff;
    --alternative: #ffdecf;
    --awesome: #fbf7f2;
}

/* App */
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--primary);
    background-color: var(--alternative);
    overflow: hidden;
    
}

::-webkit-scrollbar {
    display: none;
}

:is(.navbar, footer) {
    background-color: var(--awesome);
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
  }

h1, h2, h3, h5{
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
  }

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: var(--primary);
}

.nav-links {
    width: 95%;
}


/* section {
    scroll-margin-block: 1rem;
} */
/* Footer */
footer {
    padding-top: 2rem;
}

.container-fluid{
    padding: 0px !important;
}
/* All images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

/* logo */
img[alt='logo'] {
    width: 5rem;
}

/* wrapper */
:is(.wrapper) {
    display: grid;
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}

/* media query */


#about-btn {
    text-decoration: none;
}

#about-direct {
    padding: .5rem;
    border-radius: .3rem;
    background-color: #ffffff81;
    border: none;
}

/* Reach Me Page */
#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: bolder;
    justify-content: start;
}


#name,
#email,
#message{
    padding: .5rem;
    width: 20rem;
    border-radius: .3rem;
    background-color: beige;
    color: var(--primary);
    border-color: var(--alternative);
}

/* Contact form placeholder */
/* ::placeholder {
    color: var(--secondary);
} */

#btn-send,
#btn-clear {
    padding: 1rem;
    border-radius: .2rem;
    width: 10rem;
    background-color: beige;
    color: var(--primary);
    border-color: var(--alternative);
}

[title] {
    font-style: italic;
    /* filter: drop-shadow(0.1rem 0.1rem 0.1rem black); */
}

/* Animation */
/* Landing */
.animate__animated.animate__fadeInTopLeft {
    --animate-duration: 2s;
  }
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }